<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.tiwiz.rxjavacrunch" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".part1.Part1Activity"
            android:label="@string/title_activity_part1" />
        <activity
            android:name=".part2.Part2Activity"
            android:label="@string/title_activity_part2" />
        <activity
            android:name=".part3.Part3Activity"
            android:label="@string/title_activity_part3" />
        <activity
            android:name=".part4.Part4Activity"
            android:label="@string/title_activity_main4" >
        </activity>
    </application>

</manifest>
